/* ================================================
    From Area CSS Start
================================================ */

/* ================================================
    From Style-1 CSS Start
================================================ */

.bdt-from-style1-wrapper .bdt-style1-from-controls input {
    height: 38px;
    font-size: 14px;
    border-radius: 3px;
    margin-bottom: 12px;

}
.bdt-from-style1-wrapper .bdt-style1-from-controls {
    font-size: 14px;
    margin-bottom: 4px;
}

.bdt-from-style1-wrapper .bdt-style1-submit-button {
    background: #1c45ef;
    color: #fff;
}
.bdt-from-style1-wrapper .bdt-style1-from-button {
    font-size: 14px;
    text-transform: capitalize;
    border-radius: 3px;
}

/* ================================================
    From Style-1 CSS End
================================================ */


/* ================================================
    From Style-2 CSS Start
================================================ */

.bdt-from-style2-wrapper .bdt-style2-from-controls input {
    height: 38px;
    font-size: 14px;
    border-radius: 3px;
    margin-bottom: 12px;

}
.bdt-from-style2-wrapper .bdt-style2-from-controls {
    font-size: 14px;
    margin-bottom: 4px;
}

.bdt-from-style2-wrapper .bdt-style2-submit-button {
    background: #1c45ef;
    color: #fff;
}
.bdt-from-style2-wrapper .bdt-style2-from-button {
    font-size: 14px;
    text-transform: capitalize;
    border-radius: 3px;
}


.bdt-from-style2-wrapper textarea.uk-textarea {
    font-size: 14px;
    border-radius: 3px;
}

.bdt-from-style2-wrapper .bdt-style2-from-label {
    margin-top: 10px;
}
/* ================================================
    From Style-2 CSS End
================================================ */


/* ================================================
    From Style-3 CSS Start
================================================ */

.bdt-from-style3-wrapper .bdt-style3-from-controls input {
    height: 38px;
    font-size: 14px;
    border-radius: 3px;
    margin-bottom: 12px;

}
.bdt-from-style3-wrapper .bdt-style3-from-controls {
    font-size: 14px;
    margin-bottom: 4px;
}

.bdt-from-style3-wrapper .bdt-style3-submit-button {
    background: #1c45ef;
    color: #fff;
}
.bdt-from-style3-wrapper .bdt-style3-from-button {
    font-size: 14px;
    text-transform: capitalize;
    border-radius: 3px;
}

.bdt-from-style3-wrapper select#form-stacked-select {
    font-size: 14px;
    color: #6f6f6fd6;
}


.bdt-from-style3-wrapper input.uk-radio {
    height: 15px;
    width: 15px;
}


/* ================================================
    From Style-3 CSS End
================================================ */


/* ================================================
    From Style-4 CSS Start
================================================ */
.bdt-from-style4-wrapper .bdt-style4-from-controls input {
    height: 38px;
    font-size: 14px;
    border-radius: 3px;
    margin-bottom: 12px;

}
.bdt-from-style4-wrapper .bdt-style4-from-controls {
    font-size: 14px;
    margin-bottom: 4px;
}

.bdt-from-style4-wrapper .bdt-style4-submit-button {
    background: #1c45ef;
    color: #fff;
}
.bdt-from-style4-wrapper .bdt-style4-from-button {
    font-size: 14px;
    text-transform: capitalize;
    border-radius: 3px;
}

.bdt-from-style4-wrapper select#form-stacked-select {
    font-size: 14px;
    color: #6f6f6fd6;
}


.bdt-from-style4-wrapper input.uk-radio {
    height: 15px;
    width: 15px;
}

.bdt-from-style4-wrapper .bdt-style4-label-radio{
    margin-top: 10px;
}

/* ================================================
    From Style-4 CSS End
================================================ */


/* ================================================
    From Style-5 CSS Start
================================================ */
.bdt-from-style5-wrapper .bdt-style5-from-controls input {
    height: 38px;
    font-size: 14px;
    border-radius: 3px;
    margin-bottom: 12px;

}
.bdt-from-style5-wrapper .bdt-style5-from-controls {
    font-size: 14px;
    margin-bottom: 4px;
}

.bdt-from-style5-wrapper .bdt-style5-submit-button {
    background: #1c45ef;
    color: #fff;
}
.bdt-from-style5-wrapper .bdt-style5-from-button {
    font-size: 14px;
    text-transform: capitalize;
    border-radius: 3px;
}

.bdt-from-style5-wrapper .bdt-from-style-5 .uk-input {
    border: 0;
    border-bottom: 1px solid #eee;
    border-radius: 0;
}


/* ================================================
    From Style-5 CSS End
================================================ */




/* ================================================
    From Area CSS End
================================================ */