
/* ================================================
    Icon Area CSS Start
================================================ */


/* ================================================
    Icon Style-1 CSS Start
================================================ */


.bdt-icon-wrapper-style-1 .bdt-list-item-style-1 li {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}


/* ================================================
    Icon Style-1 CSS End
================================================ */


/* ================================================
    Icon Style-3 CSS Start
================================================ */


.bdt-icon-wrapper-style-2 .bdt-list-item-style-2 li {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}


/* ================================================
    Icon Style-3 CSS End
================================================ */


/* ================================================
    Icon Style-3 CSS Start
================================================ */


.bdt-icon-wrapper-style-3 .bdt-list-item-style-3 li {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}


/* ================================================
    Icon Style-3 CSS End
================================================ */


/* ================================================
    Icon Style-4 CSS Start
================================================ */


.bdt-icon-wrapper-style-4 .bdt-list-item-style-4 li {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}


/* ================================================
    Icon Style-4 CSS End
================================================ */





/* ================================================
    Icon Area CSS End
================================================ */