/* ================================================
    Lightbox Area CSS Start
================================================ */


/* ================================================
    Lightbox Style-1 CSS Start
================================================ */

.bdt-lightbox-wrapper-style-1 .bdt-lightbox-button-style-1 {
    padding: 2px 70px;
    border-radius: 3px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
  }
  
  .bdt-lightbox-wrapper-style-1 .bdt-lightbox-button-style-1:hover {
     color: #fff;
  }

/* ================================================
    Lightbox Style-1 CSS End
================================================ */


/* ================================================
    Lightbox Style-2 CSS Start
================================================ */

.bdt-lightbox-wrapper-style-2 .bdt-lightbox-button-style-2 {
    padding: 2px 70px;
    border-radius: 3px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
  }
  
  .bdt-lightbox-wrapper-style-2 .bdt-lightbox-button-style-2:hover {
     color: #fff;
  }

/* ================================================
    Lightbox Style-2 CSS End
================================================ */


/* ================================================
    Lightbox Style-3 CSS Start
================================================ */

.bdt-lightbox-wrapper-style-3 .bdt-lightbox-title-style-3 {
    font-size: 18px;
    font-weight: 500;
}

/* ================================================
    Lightbox Style-3 CSS End
================================================ */

/* ================================================
    Lightbox Style-4 CSS Start
================================================ */

.bdt-lightbox-wrapper-style-4 .bdt-lightbox-title-style-4 {
    font-size: 18px;
    font-weight: 500;
}

/* ================================================
    Lightbox Style-4 CSS End
================================================ */


/* ================================================
    Lightbox Style-5 CSS Start
================================================ */

.bdt-lightbox-wrapper-style-5 .bdt-lightbox-title-style-5 {
    font-size: 18px;
    font-weight: 500;
}

/* ================================================
    Lightbox Style-5 CSS End
================================================ */



/* ================================================
    Lightbox Style-6 CSS Start
================================================ */

.bdt-lightbox-wrapper-style-6 .bdt-lightbox-button-style-6 {
    padding: 2px 70px;
    border-radius: 3px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    margin-bottom: 5px;
  }
  
  .bdt-lightbox-wrapper-style-6 .bdt-lightbox-button-style-6:hover {
    color: #fff;
 }

  

/* ================================================
    Lightbox Style-6 CSS End
================================================ */


/* ================================================
    Lightbox Area CSS End
================================================ */



