/* ================================================
    Login Area CSS Start
================================================ */


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-family: 'Roboto', sans-serif;
}
.bdt-login-from-wrapper {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.bdt-login-from-wrapper .bdt-from-content {
    background: #fff;
    padding: 35px;
    box-shadow: 0 -25px 37.7px 11.3px rgba(8, 143, 220, 0.07);
    border-radius: 5px;
}

.bdt-login-from-wrapper .uk-form-width-large {
    width: 366px;
}

.bdt-login-from-wrapper .bdt-login-from-contorls input {
    border-radius: 5px;
    font-size: 13px;
}

.bdt-login-from-wrapper .bdt-submit-button button {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
    border-radius: 5px;
}

.bdt-login-from-wrapper .bdt-forget-password {
    margin-left: auto;
    font-size: 13px;
}

.bdt-login-from-wrapper .bdt-checkbox span {
    font-size: 15px;
    padding-left: 8px;
}


.bdt-login-from-wrapper .bdt-Google-button a {
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 600;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #0000004f;
}

.bdt-login-from-wrapper .bdt-Google-button span {
    padding-left: 10px;
    color: #000;
}


.bdt-login-from-wrapper .bdt-text-block  span {
    font-size: 13px;
    color: #000;
    font-weight: 500;
}

.bdt-login-from-wrapper .bdt-text-block a {
    font-size: 13px;
}


/* ================================================
    Login Area CSS End
================================================ */