
/* ================================================
    Modal Area CSS Start
================================================ */

/* ================================================
    Modal Style-1 CSS Start
================================================ */

.bdt-modal-style-1-wrapper .bdt-style-1-button {
  padding: 2px 70px;
  border-radius: 3px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

.bdt-modal-style-1-wrapper .bdt-style-1-button:hover {
color: #fff;
}

/* ================================================
    Modal Style-1 CSS End
================================================ */


/* ================================================
    Modal Style-2 CSS Start
================================================ */

.bdt-modal-style-2-wrapper .bdt-style-2-button {
  padding: 2px 70px;
  border-radius: 3px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

.bdt-modal-style-2-wrapper .bdt-style-2-button:hover {
color: #fff;
}

/* ================================================
    Modal Style-2 CSS End
================================================ */


/* ================================================
    Modal Style-3 CSS Start
================================================ */

.bdt-modal-style-3-wrapper .bdt-style-3-button {
  padding: 2px 70px;
  border-radius: 3px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

.bdt-modal-style-3-wrapper .bdt-style-3-button:hover {
color: #fff;
}

/* ================================================
    Modal Style-3 CSS End
================================================ */


/* ================================================
    Modal Style-4 CSS Start
================================================ */

.bdt-modal-style-4-wrapper .bdt-style-4-button {
  padding: 2px 70px;
  border-radius: 3px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

.bdt-modal-style-4-wrapper .bdt-style-4-button:hover {
color: #fff;
}

/* ================================================
    Modal Style-4 CSS End
================================================ */



/* ================================================
    Modal Style-5 CSS Start
================================================ */

.bdt-modal-style-5-wrapper .bdt-style-5-button {
  padding: 2px 70px;
  border-radius: 3px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

.bdt-modal-style-5-wrapper .bdt-style-5-button:hover {
color: #fff;
}

/* ================================================
    Modal Style-5 CSS End
================================================ */


/* ================================================
    Modal Style-6 CSS Start
================================================ */

.bdt-modal-style-6-wrapper .bdt-style-6-button {
  padding: 2px 70px;
  border-radius: 3px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

.bdt-modal-style-6-wrapper .bdt-style-6-button:hover {
color: #fff;
}

/* ================================================
    Modal Style-6 CSS End
================================================ */


/* ================================================
    Modal Style-7 CSS Start
================================================ */

.bdt-modal-style-7-wrapper .bdt-style-7-button {
  padding: 2px 70px;
  border-radius: 3px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

.bdt-modal-style-7-wrapper .bdt-style-7-button:hover {
color: #fff;
}

/* ================================================
    Modal Style-7 CSS End
================================================ */



/* ================================================
    Modal Area CSS End
================================================ */

.bdt-closs-button {
    padding: 2px 70px;
    border-radius: 3px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

.bdt-closs-button:hover {
  color: #fff;
}