/* ================================================
    Pagination Area CSS Start
================================================ */


/* ================================================
    Pagination Style-1 CSS Start
================================================ */

.bdt-pagination-wrapper-style-1 .bdt-pagination-nx-pv-style-1 {
    background: #1e87f0;
    padding: 5 10px;
    padding: 10px 14px;
    margin-top: -5px;
    border-radius: 3px;
}

.bdt-pagination-wrapper-style-1 .bdt-pagination-nx-pv-style-1 svg {
    color: #fff;
    width: 8px;
}

/* ================================================
    Pagination Style-1 CSS End
================================================ */


/* ================================================
    Pagination Style-1 CSS Start
================================================ */

.bdt-pagination-wrapper-style-2 .bdt-pagination-nx-pv-style-2 {
    background: #1e87f0;
    padding: 5 10px;
    padding: 10px 14px;
    margin-top: -5px;
    border-radius: 3px;
}

.bdt-pagination-wrapper-style-2 .bdt-pagination-nx-pv-style-2 svg {
    color: #fff;
    width: 8px;
}

/* ================================================
    Pagination Style-1 CSS End
================================================ */



/* ================================================
    Pagination Area CSS Start
================================================ */