
/* ================================================
     Slideshow Area CSS Start
================================================ */



/* ================================================
     Slideshow Style-1 Start
================================================ */

.bdt-slideshow-wrapper-style-1 a svg {
    background: rgba(0, 0, 0, 0.23);
    padding: 16px 22px;
    width: 62px;
    border-radius: 100px;
    color: #fff;
}

/* ================================================
     Slideshow Style-1 End
================================================ */


/* ================================================
     Slideshow Style-2 Start
================================================ */

.bdt-slideshow-wrapper-style-2 a svg {
    background: rgba(0, 0, 0, 0.23);
    padding: 16px 22px;
    width: 62px;
    border-radius: 100px;
    color: #fff;
}

/* ================================================
     Slideshow Style-2 End
================================================ */


/* ================================================
     Slideshow Style-3 Start
================================================ */

.bdt-slideshow-wrapper-style-3 a svg {
    background: rgba(0, 0, 0, 0.23);
    padding: 16px 22px;
    width: 62px;
    border-radius: 100px;
    color: #fff;
}

/* ================================================
     Slideshow Style-3 End
================================================ */


/* ================================================
     Slideshow Style-4 Start
================================================ */

.bdt-slideshow-wrapper-style-4 a svg {
    background: rgba(0, 0, 0, 0.23);
    padding: 16px 22px;
    width: 62px;
    border-radius: 100px;
    color: #fff;
}

/* ================================================
     Slideshow Style-4 End
================================================ */


/* ================================================
     Slideshow Style-5 Start
================================================ */

.bdt-slideshow-wrapper-style-5 a svg {
    background: rgba(0, 0, 0, 0.23);
    padding: 16px 22px;
    width: 62px;
    border-radius: 100px;
    color: #fff;
}

/* ================================================
     Slideshow Style-5 End
================================================ */


/* ================================================
     Slideshow Style-6 Start
================================================ */

.bdt-slideshow-wrapper-style-6 a svg {
    background: rgba(0, 0, 0, 0.23);
    padding: 16px 22px;
    width: 62px;
    border-radius: 100px;
    color: #fff;
}

/* ================================================
     Slideshow Style-6 End
================================================ */



/* ================================================
     Slideshow Area CSS End
================================================ */