/* ================================================
    Toggle Area CSS Start
================================================ */

/* ================================================
    Toggle Style-1 CSS Start
================================================ */

.bdt-toggle-style-1-wrapper .bdt-toggle-button-style-1 {
    padding: 2px 70px;
    border-radius: 3px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
  }
  
  .bdt-toggle-style-1-wrapper .bdt-toggle-button-style-1:hover {
     color: #fff;
  }

/* ================================================
    Toggle Style-1 CSS End
================================================ */


/* ================================================
    Toggle Style-2 CSS Start
================================================ */

.bdt-toggle-style-2-wrapper .bdt-toggle-button-style-2 {
    padding: 2px 70px;
    border-radius: 3px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
  }
  
  .bdt-toggle-style-2-wrapper .bdt-toggle-button-style-2:hover {
     color: #fff;
  }

/* ================================================
    Toggle Style-2 CSS End
================================================ */


/* ================================================
    Toggle Style-3 CSS Start
================================================ */

.bdt-toggle-style-3-wrapper .bdt-toggle-button-style-3 {
    padding: 2px 70px;
    border-radius: 3px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
  }
  
  .bdt-toggle-style-3-wrapper .bdt-toggle-button-style-3:hover {
     color: #fff;
  }

/* ================================================
    Toggle Style-3 CSS End
================================================ */


/* ================================================
    Toggle Style-4 CSS Start
================================================ */

.bdt-toggle-style-4-wrapper .bdt-toggle-button-style-4 {
    padding: 2px 70px;
    border-radius: 3px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
  }
  
  .bdt-toggle-style-4-wrapper .bdt-toggle-button-style-4:hover {
     color: #fff;
  }

/* ================================================
    Toggle Style-3 CSS End
================================================ */



/* ================================================
    Toggle Area CSS End
================================================ */