
/* ================================================
    Typography Area CSS Start
================================================ */


/* ================================================
    Typography Style-2 CSS Start
================================================ */


.bdt-style2-heading-divider h6 {
    margin: 0;
    margin: 10px 0;
}

/* ================================================
    Typography Style-2 CSS End
================================================ */



/* ================================================
    Typography Style-5 CSS Start
================================================ */

.bdt-stye-5-description-divider .uk-description-list-divider {
    margin: 0;
    line-height: 20px;
}

/* ================================================
    Typography Style-5 CSS End
================================================ */



/* ================================================
    Typography Style-8 CSS Start
================================================ */

.bdt-style8-switcher ul.uk-switcher.switcher-container.uk-margin {
    margin: 0;
}

/* ================================================
    Typography Style-8 CSS End
================================================ */



/* ================================================
    Typography Area CSS End
================================================ */







